
  <style>
    * {
      font-family: 'Silka webfont', sans-serif;
    }
    body {
      margin: 0;
    }
    #quiz-wrapper {
      width: 100%;
      min-height: calc(100vh - 70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: 768px) {
      #quiz-wrapper {
        min-height: 100%;
      }
    }
    .next-btn {
      background-color: #ff005c;
      border-radius: 20px;
      padding: 16px 32px;
      color: #fff;
      text-align: center;
      margin: 50px auto;
      cursor: pointer;
      transition: all 0.2s;
      max-width: 300px;
    }
    .next-btn:hover {
      background-color: #bd0045;
    }
    h2.question {
      color: #0e30a8;
      font-size: 2em;
      font-weight: 700;
      text-align: center;
    }
    .question-wrapper {
      position: relative;
      padding-bottom: 80px;
    }
    .quiestion-answers__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      min-height: 400px;
    }
    .questions-answers__single--wrapper {
      width: 250px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      border-radius: 20px;
      margin: 16px;
      padding: 12px;
      cursor: pointer;
      background: rgb(0 0 0 / 40%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
    }
    .questions-answers__single--text {
      color: #fff;
      font-size: 1.2em;
      font-weight: 700;
      text-align: center;
      pointer-events: none;
    }
    .question-footer {
      background-color: #0e30a8;
      display: inline-block;
      border-radius: 20px;
      position: absolute;
      right: 10px;
    }
    .question-footer__nav {
      color: #fff;
      display: inline-block;
      font-size: 1.1em;
      font-weight: 600;
      border-right: 1px solid #899ad4;
      border-left: 1px solid #899ad4;
      height: 30px;
      padding: 0 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .question-footer__back,
    .question-footer__forward {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      cursor: pointer;
    }
    .question-footer__back img,
    .question-footer__forward img {
      width: 10px;
      height: 15px;
      position: relative;
      top: 2px;
    }
    .animated {
      transition-duration: 0.15s;
    }
    .selected-answer {
      background-color: forestgreen;
    }
    .result {
      width: 100%;
      min-height: calc(100vh - 70px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610ba959141cc4a9e64c05e5_bg-result-nashville.jpeg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .result h2 {
      color: #fff;
      font-size: 4em;
    }
    .result h3 {
      color: #fff;
      font-size: 2.4em;
      font-weight: 400;
    }
  </style>

</head>
<body>
  <div id="quiz-wrapper">
    <transition
      :duration="{ enter: 500, leave: 300 }"
      enter-active-class="animated zoomIn"
      leave-active-class="animated zoomOut"
      mode="out-in"
    >
      <div v-if="!showResult" class="question-wrapper">
        <h2 class="question">{{questions[questionIndex].question}}</h2>
        <div class="quiestion-answers__wrapper">
          <div
            v-for="(answers, index) in questions[questionIndex].answers"
            @click.self="markAnswer(answers, index)"
            class="questions-answers__single--wrapper"
            :class="{ 'selected-answer' : questions[questionIndex].answered === index}"
            v-bind:style="{ backgroundImage: 'url(' + answers.img + ')' }"
          >
            <div class="questions-answers__single--text">{{answers.text}}</div>
          </div>
        </div>
        <!-- <div @click="next" class="next-btn" v-if="questionIndex+1 !== questions.length">Next</div> -->
        <!-- <div @click="result" class="next-btn" v-if="questionIndex+1 === questions.length">Calculate result</div> -->
        <div v-if="!showResult" class="question-footer">
          <div @click="prev" class="question-footer__back">
            <img
              src="https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/60b5ba6204782c91000d7ed6_quiz-carret-prev.svg"
              alt="Previous question"
            />
          </div>
          <div class="question-footer__nav">{{questionIndex+1}} of {{questions.length}}</div>
          <div @click="next" class="question-footer__forward">
            <img
              src="https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/60b5ba62ca5d3a775b6e83f1_quiz-carret-next.svg"
              alt="Next question"
            />
          </div>
        </div>
      </div>
      <div v-if="showResult" class="result">
        <h3>It’s time to shyft to</h3>
        <h2>{{ winner }}</h2>
      </div>
    </transition>
  </div>
  <!-- --------------- Vue code------------------------- -->
  <script>
    var app = new Vue({
      el: '#quiz-wrapper',
      data: {
        questions: [
          {
            qNumber: 1,
            question: 'Where do you see yourself?',
            answered: false,
            answers: [
              {
                text: 'In the states',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3103d2bae3ac8efe40_bg-question-01-01.png',
                result: true
              },
              {
                text: 'The world is my oyster',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3103d2ba650a8efe41_bg-question-01-02.png',
                result: false
              }
            ]
          },
          {
            qNumber: 2,
            question: 'Are you…',
            answered: false,
            answers: [
              {
                text: 'Single and ready to mingle',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d31a023cff1a9b93a2c_bg-question-02-01.png',
                result: ['Washington DC', 'Nashville', 'Australia', 'UAE']
              },
              {
                text: 'Living with my partner',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d31845163b94884083a_bg-question-02-02.png',
                result: ['Chicago', 'UK']
              },
              {
                text: 'It’s complicated',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d315fd779096777d94b_bg-question-02-03.png',
                result: ['San Francisco', 'Miami', 'Japan', 'Netherlands']
              },
              {
                text: 'Starting a family',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d32a023cf25efb93a2d_bg-question-02-04.png',
                result: ['Austin', 'Luxembourg', 'Ireland']
              },
              {
                text: 'Living with my family',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d71f57f7c9d_bg-question-02-05.png',
                result: ['Dallas', 'Denver', 'Germany', 'Switzerland']
              },
              {
                text: 'Single – but actively looking',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3366cce12a6469108e_bg-question-02-06.png',
                result: ['Atlanta', 'Seattle', 'France']
              },
              {
                text: 'In a long-distance relationship',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3292065e6ef4eb62ae_bg-question-02-07.png',
                result: ['New York', 'Los Angeles', 'Spain', 'Singapore']
              }
            ]
          },
          {
            qNumber: 3,
            question: 'What industry are you in?',
            answered: false,
            answers: [
              {
                text: 'Technology',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Austin', 'Seattle', 'Luxembourg']
              },
              {
                text: 'Telecommunications',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Dallas', 'UAE']
              },
              {
                text: 'Healthcare',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Chicago', 'Germany']
              },
              {
                text: 'Sales',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['San Francisco', 'Singapore']
              },
              {
                text: 'Real Estate',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Denver', 'Nashville', 'Japan']
              },
              {
                text: 'Marketing',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['New York', 'UK']
              },
              {
                text: 'Creative industries',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Los Angeles', 'Netherlands']
              },
              {
                text: 'Financial',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Washington DC', 'Switzerland']
              },
              {
                text: 'Travel & Tourism',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Miami', 'Spain', 'Australia', 'France']
              },
              {
                text: 'Other',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d322dd63d2fda7f7c9c_bg-question-03-01.png',
                result: ['Atlanta', 'Ireland']
              }
            ]
          },
          {
            qNumber: 4,
            question: 'What kind of weather do you prefer?',
            answered: false,
            answers: [
              {
                text: 'Long cold winters and cool summers',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d36aa6f28a3ed5d0d32_bg-question-04-01.png',
                result: ['Denver', 'San Francisco', 'Seattle', 'Netherlands']
              },
              {
                text: 'A diversity of seasons – spring, summer, fall, winter',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d33e2c3de27eb5c50bc_bg-question-04-02.png',
                result: ['New York', 'Chicago', 'Atlanta', 'UK', 'Ireland', 'Luxembourg', 'Switzerland']
              },
              {
                text: 'Really cold winters, and really hot summers',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d331aa4957228d9a7d5_bg-question-04-03.png',
                result: ['Dallas', 'Austin', 'Nashville', 'Washington DC', 'Germany', 'France', 'Japan']
              },
              {
                text: 'I want to be laying by a pool year-round',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3466cce1c5136910b0_bg-question-04-04.png',
                result: ['Miami', 'Los Angeles', 'UAE', 'Spain', 'Australia', 'Singapore']
              }
            ]
          },
          {
            qNumber: 5,
            question: 'What’s a perfect weekend? ',
            answered: false,
            answers: [
              {
                text: 'Sports game and a bar ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d34dc4f770dbc02bccb_bg-question-05-01.png',
                result: ['Chicago', 'Atlanta', 'Nashville', 'UK', 'Germany', 'Australia', 'Ireland']
              },
              {
                text: 'Start off at the beach, end up in a nightclub',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3490cb91fdde741364_bg-question-05-02.png',
                result: ['Miami', 'San Francisco', 'UAE', 'Spain', 'Singapore']
              },
              {
                text: 'Outside all day, hiking, swimming, playing sports, moving',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d34dc4f77834b02bccc_bg-question-05-03.png',
                result: ['Los Angeles', 'Dallas', 'Switzerland']
              },
              {
                text: 'Home all day',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3403d2ba6bd88efe47_bg-question-05-04.png',
                result: ['Denver', 'Austin', 'Luxembourg', 'Japan']
              },
              {
                text: 'Getting cultural at a museum and catching a show at the theatre',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d345fd779fed877d94c_bg-question-05-05.png',
                result: ['New York', 'Seattle', 'Washington DC', 'France', 'Netherlands']
              }
            ]
          },
          {
            qNumber: 6,
            question: 'How are you getting places? ',
            answered: false,
            answers: [
              {
                text: 'I’ll walk',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d36d19ead66a982b202_bg-question-06-01.png',
                result: ['Miami', 'Nashville', 'UK', 'Luxembourg', 'Switzerland']
              },
              {
                text: 'Take the bus or subway',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3440201631fb9770a2_bg-question-06-02.png',
                result: ['New York', 'Chicago', 'Washington DC', 'Germany', 'France', 'Ireland', 'Singapore']
              },
              {
                text: 'Drive',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d35554ab08219793630_bg-question-06-03.png',
                result: ['Los Angeles', 'Atlanta', 'Austin', 'Denver', 'Dallas', 'UAE', 'Australia']
              },
              {
                text: 'Cab, uber or Lyft',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d35961c95d163ad8976_bg-question-06-04.png',
                result: ['Seattle', 'San Francisco', 'Spain', 'Netherlands', 'Japan']
              }
            ]
          },
          {
            qNumber: 7,
            question: 'What kind of home can you see yourself living in? ',
            answered: false,
            answers: [
              {
                text: 'Busy centre in an apartment with roommates ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d34fad63a04eb58f032_bg-question-07-01.png',
                result: ['New York', 'Austin', 'UAE', 'UK', 'Netherlands']
              },
              {
                text: 'On my own in a centrally located apartment ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3655627271078725cc_bg-question-07-02.png',
                result: ['Miami', 'Chicago', 'Seattle', 'Spain', 'Ireland', 'Japan', 'Switzerland']
              },
              {
                text: 'I dream of suburbia, out of the hustle and bustle with loads of space',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d3540201669439770a4_bg-question-07-03.png',
                result: ['Atlanta', 'Washington DC', 'San Francisco', 'Germany', 'Luxembourg']
              },
              {
                text: 'On a ranch somewhere',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d2b9fb29741219941_bg-question-07-04.png',
                result: ['Denver', 'Dallas', 'Nashville', 'France']
              },
              {
                text: 'A bungalow by the beach',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d90cb913b147412f9_bg-question-07-05.png',
                result: ['Los Angeles', 'Australia', 'Singapore']
              }
            ]
          },
          {
            qNumber: 8,
            question: 'How important is culture to you?',
            answered: false,
            answers: [
              {
                text: 'Life’s all about soaking in the culture',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d1df23cfecf7c7fcd_bg-question-08-01.png',
                result: ['Washington DC', 'San Francisco', 'Nashville', 'France', 'Spain', 'Netherlands']
              },
              {
                text: 'I’ll get cultural once in a while with a trip to the museum',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2dcfbb69ae32692faf_bg-question-08-02.png',
                result: ['Miami', 'New York', 'Seattle', 'Japan', 'UK', 'Germany']
              },
              {
                text: 'If family or friends are into it, I’ll tag along',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d1df23c07067c7fcc_bg-question-08-03.png',
                result: ['Chicago', 'Denver', 'Los Angeles', 'Ireland', 'Switzerland']
              },
              {
                text: 'Nah, I’d prefer to spend my time on other things',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d66cce1294869100a_bg-question-08-04.png',
                result: ['Austin', 'Dallas', 'UAE', 'Australia', 'Luxembourg', 'Singapore']
              }
            ]
          },
          {
            qNumber: 9,
            question: 'How important are sports to you? ',
            answered: false,
            answers: [
              {
                text: 'I watch sports every day and play regularly',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d57fcce98d8d8f391_bg-question-09-01.png',
                result: ['New York', 'Chicago', 'UK', 'Germany', 'Australia', 'Ireland']
              },
              {
                text: 'I like to go to the gym ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d57fcce98d8d8f391_bg-question-09-01.png',
                result: ['Miami', 'San Francisco', 'Denver', 'Los Angeles', 'UAE']
              },
              {
                text: 'I neither watch nor play any sports',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d57fcce98d8d8f391_bg-question-09-01.png',
                result: ['Austin', 'Seattle', 'Nashville', 'Spain', 'Luxembourg', 'Switzerland', 'Japan']
              },
              {
                text: 'I only watch sports on TV ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d57fcce98d8d8f391_bg-question-09-01.png',
                result: ['Atlanta', 'Washington DC', 'Dallas', 'Singapore', 'Netherlands']
              }
            ]
          },
          {
            qNumber: 10,
            question: 'What are your priorities right now? ',
            answered: false,
            answers: [
              {
                text: 'Exploring the world',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2e40201641b797709e_bg-question-10-01.png',
                result: ['Washington DC', 'Nashville', 'Atlanta', 'Seattle', 'UAE', 'Singapore']
              },
              {
                text: 'Living somewhere interesting ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2ee2c3de5b1c5c50ac_bg-question-10-02.png',
                result: [
                  'New York',
                  'Los Angeles',
                  'San Francisco',
                  'Miami',
                  'Spain',
                  'Germany',
                  'France',
                  'Netherlands',
                  'Japan'
                ]
              },
              {
                text: 'Living comfortably and raising a family ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2d82bc08ffb72a09af_bg-question-10-03.png',
                result: ['Dallas', 'Denver', 'Luxembourg', 'Switzerland', 'Australia']
              },
              {
                text: 'Being close to family',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2e3687ec1a842d7b5a_bg-question-10-04.png',
                result: ['Chicago', 'Austin', 'UK', 'Ireland']
              }
            ]
          },
          {
            qNumber: 11,
            question: 'If you could choose any era to live in, which would it be? ',
            answered: false,
            answers: [
              {
                text: '80s ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2e5b03392132f4fa6d_bg-question-11-01.png',
                result: ['New York', 'Dallas', 'UK', 'Ireland']
              },
              {
                text: '90s ',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2e943de7aaea04bad6_bg-question-11-02.png',
                result: ['Los Angeles', 'Miami', 'Chicago', 'Spain', 'Germany', 'France', 'Switzerland']
              },
              {
                text: 'Present',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2eccd64cc7c0b94773_bg-question-11-03.png',
                result: ['Washington DC', 'Seattle', 'Denver', 'Nashville', 'Singapore', 'Australia', 'Netherlands']
              },
              {
                text: 'Future',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2eacbdd5bd43b4a86f_bg-question-11-04.png',
                result: ['San Francisco', 'Austin', 'Atlanta', 'UAE', 'Japan', 'Luxembourg']
              }
            ]
          },
          {
            qNumber: 12,
            question: 'What will you do if your air-conditioning stopped working this summer?',
            answered: false,
            answers: [
              {
                text: 'I’d fix it myself',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2ffb9ce219cb19fda7_bg-question-12-01.png',
                result: ['Chicago', 'Atlanta', 'Denver', 'Nashville', 'UK', 'Germany', 'France']
              },
              {
                text: 'I’d call an expert',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2f1df23c3d057c7fce_bg-question-12-02.png',
                result: [
                  'New York',
                  'Miami',
                  'Washington DC',
                  'Los Angeles',
                  'Luxembourg',
                  'Singapore',
                  'Japan',
                  'Switzerland'
                ]
              },
              {
                text: 'I’d open the windows – c’est la vie',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d2fccd64c5b47b94775_bg-question-12-03.png',
                result: ['Seattle', 'San Francisco', 'Spain', 'Ireland', 'Netherlands']
              },
              {
                text: 'I’d move',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d30acbdd50155b4a871_bg-question-12-04.png',
                result: ['Austin', 'Dallas', 'UAE', 'Australia']
              }
            ]
          },
          {
            qNumber: 13,
            question: 'You finally get to take a vacation, but it’s raining all day, every day. How will you feel?',
            answered: false,
            answers: [
              {
                text: 'Great! I love spending time inside',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d30ce81ee471741fd70_bg-question-13-01.png',
                result: ['Atlanta', 'Austin', 'Denver', 'Germany', 'Luxembourg']
              },
              {
                text: 'I guess it’s time to break in my new raincoat',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d30ce81ee471741fd70_bg-question-13-01.png',
                result: ['New York', 'Seattle', 'San Francisco', 'UK', 'Australia', 'Singapore']
              },
              {
                text: 'I’ll be miserable, hoping for the sun',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d30ce81ee471741fd70_bg-question-13-01.png',
                result: ['Miami', 'Los Angeles', 'Dallas', 'UAE', 'Spain', 'Japan']
              },
              {
                text: 'I won’t let that spoil my vacation – bring on indoor activities',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d30ce81ee471741fd70_bg-question-13-01.png',
                result: ['Chicago', 'Washington DC', 'Nashville', 'Ireland', 'France', 'Netherlands', 'Switzerland']
              }
            ]
          },
          {
            qNumber: 14,
            question: 'What kind of a scenic background do you prefer when you take photos?',
            answered: false,
            answers: [
              {
                text: 'Mountains',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d31cfbb69d198692fb2_bg-question-14-01.png',
                result: ['Denver', 'France', 'Switzerland', 'Ireland']
              },
              {
                text: 'Green screen',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d31539dfa8271ca3f42_bg-question-14-02.png',
                result: ['Austin', 'San Francisco', 'Japan', 'Luxembourg']
              },
              {
                text: 'City',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d312446d946675eff57_bg-question-14-03.png',
                result: ['Chicago', 'Atlanta', 'New York', 'Washington DC', 'Seattle', 'UK', 'Germany', 'Netherlands']
              },
              {
                text: 'Ocean',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d312dd63d30b97f7c9b_bg-question-14-04.png',
                result: ['Miami', 'Los Angeles', 'Spain', 'Australia', 'Singapore']
              },
              {
                text: 'Desert',
                img: 'https://uploads-ssl.webflow.com/6087d5a85b7a0ab16e57710a/610d3d31402016dfaa9770a0_bg-question-14-05.png',
                result: ['Dallas', 'Nashville', 'UAE']
              }
            ]
          }
        ],
        answers: [],
        questionIndex: 0,
        USAonly: true,
        showResult: false,
        USAcities: [
          'Washington DC',
          'Nashville',
          'Atlanta',
          'Seattle',
          'Chicago',
          'New York',
          'Los Angeles',
          'San Francisco',
          'Miami',
          'Austin',
          'Dallas',
          'Denver'
        ],
        winner: []
      },
      methods: {
        next: function () {
          if (this.questionIndex < this.questions.length - 1) {
            this.questionIndex++
          } else {
            this.result()
          }
        },
        prev: function () {
          if (this.questionIndex > 0) {
            this.questionIndex--
          }
        },
        removeAnswersDOM: function () {
          // remove 'selected-answer' class from all answers
          var elems = document.querySelectorAll('.questions-answers__single--wrapper')
          ;[].forEach.call(elems, function (el) {
            el.classList.remove('selected-answer')
          })
        },
        markAnswer: function (answers, index) {
          // ignore same answer
          if (this.questions[this.questionIndex].answered !== index) {
            if (this.questions[this.questionIndex].answered !== false) {
              // add 'selected-answer' class to target
              event.target.classList.add('selected-answer')
              if (typeof answers.result === 'boolean') {
                this.USAonly = answers.result
              } else {
                // remove previous answer from answers[]
                this.removeAnswer(
                  this.questions[this.questionIndex].answers[this.questions[this.questionIndex].answered].result
                )
                // add new answer to answers[]
                this.answers.push(...answers.result)
              }

              // add answered index to question
              this.questions[this.questionIndex].answered = index
              this.removeAnswersDOM()
            } else {
              this.questions[this.questionIndex].answered = true
              event.target.classList.add('selected-answer')
              // add answered index to question
              this.questions[this.questionIndex].answered = index

              // add answers to answers[] or to selected region
              if (typeof answers.result === 'boolean') {
                this.USAonly = answers.result
              } else {
                this.answers.push(...answers.result)
              }
              this.removeAnswersDOM()
            }
            this.next()
          }
        },
        removeAnswer: function (arrToRemove) {
          arrToRemove.forEach((answer) => {
            const index = this.answers.indexOf(answer)
            if (index > -1) {
              this.answers.splice(index, 1)
            }
          })
        },
        result: function () {
          this.showResult = true
          // sum answers by city/country
          const counts = {}
          this.answers.forEach(function (x) {
            counts[x] = (counts[x] || 0) + 1
          })
          // filter answers by region
          let regionFilteredCounts = {}
          for (const property in counts) {
            if (this.USAonly) {
              if (this.USAcities.indexOf(property) > -1) {
                regionFilteredCounts[property] = counts[property]
              }
            } else {
              if (this.USAcities.indexOf(property) === -1) {
                regionFilteredCounts[property] = counts[property]
              }
            }
          }
          // find answer with highest score
          let highestScore = 0
          let higestScoreResult = []
          for (const property in regionFilteredCounts) {
            if (regionFilteredCounts[property] > highestScore) {
              highestScore = regionFilteredCounts[property]
              higestScoreResult = [property]
            } else if (regionFilteredCounts[property] === highestScore) {
              higestScoreResult.push(property)
            }
          }
          // TESTING
          console.log(this.answers)
          console.log(counts)
          console.log(higestScoreResult)
          // TESTING END
          // if multiple answers select one
          if (higestScoreResult.length > 1) {
            let num = Math.floor(Math.random() * higestScoreResult.length)
            this.winner = higestScoreResult[num]
          } else {
            this.winner = higestScoreResult[0]
          }
        }
      }
    })
  </script>
</body>
